*{padding: 0;margin: 0;list-style: none;}
body{padding: 50px;}

.box{
  border: 1px solid black;
  overflow: hidden;
  overflow-y: auto;
}

.box .item{
  height: 20px;
  line-height: 20px;
  color:#666;
}